div {
  margin: 1rem 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  min-width: 400px;
}

.mensagem {
  position: fixed;
  top: 0;
  right: 0;
  color: green;
}